body {
    background-color: #dfe3e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .logo_pinguin{
    width: 300px;
    margin-top: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.biodata {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.biodata .nama {
    color: rgb(39, 130, 227);
    margin-top: 50px;
}

.biodata .kuliah {
    color: rgb(39, 130, 227);
    margin-top: -20px;
}

