* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dfe3e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color:#ffffff;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    width: 60vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.profile .logo_pinguin{
    width: 200px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.biodata {
    text-align: center;
}
.biodata .nama {
    color: rgb(39, 130, 227);
    margin-top: 20px;
}

.biodata .kuliah {
    color: rgb(39, 130, 227);
    margin-top: -20px;
}

.kelebihan {
    text-align: center;
}

.kelebihan h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 64, 153);
    margin-top: 10px;
}

.kelebihan .strength {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 43px;
    color: rgb(80, 54, 211);
}

.whatsapp .tombol-wa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    background-color: #25D366; /* Warna Hijau WA */
    color: white;              /* Tulisan jadi Putih */
    padding: 10px 25px;        /* Tebal tombol */
    border-radius: 50px;       /* Jadi bulat lonjong (kapsul) */
    margin-top: 40px;
    box-shadow: 0px 5px 15px rgba(37, 211, 102, 0.4); /* Efek glowing */
    transition: 0.3s;          /* Biar animasi halus */
}  

.whatsapp .logo_wa {
    width: 24px;    
    height: 24px;
}

.whatsapp h2 {
    color: white;
    font-size: 16px;
    margin: 0;
}

.tombol-wa:hover {
    transform: scale(1.05);    /* Membesar dikit pas disentuh */
    background-color: #128C7E; /* Warna berubah jadi hijau tua */
    cursor: pointer;
}



